section {
	width: 100%;
	max-width: 600px;
	margin-block: 20px;

	h1 {
		font-size: 48px;
		background-color: rgba(0, 32, 174, 0.5);
		padding: 8px 16px;
	}

	.tab-wrapper {
		display: flex;
		flex-direction: column;
		gap: 14px;
		padding: 24px 16px;
		background-color: #f2f2f2;
	}

	nav {
		.tab {
			background: none;
			outline: none;
			padding: 6px 8px;
			border: 1px solid blueviolet;
			border-radius: 4px;
			cursor: pointer;
		}

		.tab:hover {
			border-color: blueviolet;
			color: blueviolet;
		}

		.tab-active,
		.tab-active:hover {
			background-color: blueviolet;
			border-color: blueviolet;
			color: white;
		}
	}
}
